
.grid-container {
    background-color: #eee;
 
    margin: 20px auto;

    display: grid;
    grid-template-rows: 100px 1fr 2fr 100px;
    grid-template-columns: auto auto auto auto;

    grid-gap: 20px;

    color: #fff;
    font-family: sans-serif;

}




.container {
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar footer footer footer";
    grid-gap: 0.2rem;
 
    font-size: 12px;
    color: #004d40;
    text-align: center;
}



header {
    background-color: #78cd82;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}


aside {
    background-color: #78cd82;
    grid-row: 2 / span 2;
    grid-column: 4 / 5;
      
}

article {
    background-color: #78cdc5;
    grid-column: 1 / span 3;
    grid-row: 2/4;
    
}
img {
    width:800px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

footer {
    background-color: #78cd82;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}